div.todo
    input.task(placeholder="введите вашу задачу...")
    span.onSubmit Push
    p.sort
        span.use_comparator.sorting Sort
        span.success.sorting Success
        span.failure.sorting Failure
    ul.list
    span.footer