.todo
  background-color: aliceblue
  border-radius: 8px
  border 1px solid lightskyblue
  width: 380px



.task
  width: 300px
  margin-top: 5px
  margin-left: 5px


.onSubmit
  margin-top: 5px
  margin-left: 10px
  cursor: pointer
  color: cornflowerblue



.title
  width: 300px
  display: inline-block
  overflow: hidden
  word-wrap: break-word
  margin-left: 5px


.title[data-done="true"]
  color: green


.todo_el
  border: 1px solid lightblue
  border-radius: 4px
  margin: 5px


.list
  list-style: none
  padding: 0


.delete
  width: 15px
  height: 15px
  border: 1px solid red
  display: inline-block
  margin: 5px


.delete[data-done="true"]
  background-color: gray
  border-color: gray



.delete:hover
   background-color: red


.done
  width: 15px
  height: 15px
  border: 1px solid green
  display: inline-block
  margin: 5px

.done:hover
  background-color: green


.done[data-done="true"]
  background-color: green


.foot
  margin-left: 5px
  margin-right: 5px


.sort
  margin-left: 70px


.sorting
  margin-left: 15px
  cursor: pointer
  border: 1px solid lightskyblue
  border-top: none
  border-bottom: none
  padding: 0 5px 0 5px




